$main: #252525;
$text: white;

.sandbox-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.preview-container {
  height: 30rem;
  width: calc(2 * 50rem + 2rem);
}

.layout-reset {
  height: 100%;
  border: none !important;
  
  .sp-preview,
  .sp-preview-container,
  .sp-stack,
  iframe {
    height: 100% !important;
    background: $main;
  }
}

.editors-row {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 30rem;
}

.custom-screen {
  flex: 1;
  max-width: 50rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: monospace;

  .screen-header {
    background: $main;
    padding: 0.5rem 1rem;
    color: $text; 
    font-size: 18px;
  }

  .editor-container {
    flex: 1;
    overflow: hidden;
    min-height: 0;

    .cm-theme, .cm-editor {
      height: 100%;
    }
  }
}